
<link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">


<link rel="stylesheet" type="text/css" href="stylesheets/navbar.css">



{{!-- <nav class="navbar navbar-inverse top"> --}}
  
<div class="container">
	<div class="row">
		<div class="col-xs-4">
			<div class="navbar-header">
			 <a href="home" style="text-decoration:none"> <h2>DigitalCasino</h2></a>
			 </div>
		</div>
		<div class="col-xs-8 bar">
			<div class="row">
			<div class="col-xs-3">
				<h4><a href="register" style="text-decoration:none">
					<h4>Register</h4>
						</a></h4>
				</div>
			<div class="col-xs-3">
				<h4><a href="login" style="text-decoration:none">
					<h4>Login</h4>
						</a></h4>
				</div>
			
			<div class="col-xs-3">
				<h4><a href="About" style="text-decoration:none">
					<h4>About<h4>
					</a></h4>
				</div>
			<div class="col-xs-3">
				<h4><a href="Contact" style="text-decoration:none">
					<h4>Contact</h4>
					</a></h4>
				</div>
		</div>


		</div>


	</div>
</div>



  




  