
<link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">


<link rel="stylesheet" type="text/css" href="stylesheets/navbar.css">



{{!-- <nav class="navbar navbar-inverse top"> --}}
  <div class="container-fluid fluid">
    <div class="navbar-header">
      <h2>DigitalCasino</h2>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="login"><span class="glyphicon glyphicon-log-in"></span>  Login</a></li>
    </ul>
  </div>
{{!-- </nav> --}}