
<div class="Header">
	<h1>College Football</h1>
</div>

<div class="Games"></div>
	{{!-- <div class="Game0">
		<div class="Matchup0"></div>
		<br>
	
		<div class="SpreadHome0"></div>
		<div class="SpreadAway0"></div>
		<div class="OverUnder0"></div>
		<div class="MoneyLineHome0"></div>
		<div class="MoneyLineAway0"></div>
	</div>
	<br>
		<div>
		<form method="post">
			<input type="text" name="BetAmount0"></input>
			<button>Submit</button>
		</form>
	<br>
	<br>

	<div class="Game1">
		<div class="Matchup1"></div>
		<br>
		<div class="SpreadHome1"></div>
		<div class="SpreadAway1"></div>
		<div class="OverUnder1"></div>
		<div class="MoneyLineHome1"></div>
		<div class="MoneyLineAway1"></div>
	</div>
	<br>
		<form method="post">
			<input type="text" name="BetAmount1"></input>
			<button>Submit</button>
		</form>
	<br>
	<br>
		
	<div class="Game2">
		<div class="Matchup2"></div>
		<br>
			<div class="SpreadHome2"></div>
			<div class="SpreadAway2"></div>
			<div class="OverUnder2"></div>
			<div class="MoneyLineHome2"></div>
			<div class="MoneyLineAway2"></div>
		</div>
		<br>
			<form method="post">
			<input type="text" name="BetAmount2"></input>
			<button>Submit</button>
		</form>
		<br>
		<br>
		
	<div class="Game3">
		<div class="Matchup3"></div>
		<br>
		<div class="SpreadHome3"></div>
		<div class="SpreadAway3"></div>
		<div class="OverUnder3"></div>
		<div class="MoneyLineHome3"></div>
		<div class="MoneyLineAway3"></div>
	</div>
		<br>
			<form method="post">
			<input type="text" name="BetAmount3"></input>
			<button>Submit</button>
		</form>
		<br>
		<br>
		
	<div class="Game4">
		<div class="Matchup4"></div>
		<br>
		<div class="SpreadHome4"></div>
		<div class="SpreadAway4"></div>
		<div class="OverUnder4"></div>
		<div class="MoneyLineHome4"></div>
		<div class="MoneyLineAway4"></div>
	</div>
		<br>
			<form method="post">
			<input type="text" name="BetAmount4"></input>
			<button>Submit</button>
		</form>
		<br>
		<br>
		
	<div class="Game5">
		<div class="Matchup5"></div>
		<br>
		<div class="SpreadHome5"></div>
		<div class="SpreadAway5"></div>
		<div class="OverUnder5"></div>
		<div class="MoneyLineHome5"></div>
		<div class="MoneyLineAway5"></div>
	</div>
		<br>
			<form method="post">
			<input type="text" name="BetAmount5"></input>
			<button>Submit</button>
		</form>
		<br>
		<br>
		
	<div class="Game6">
		<div class="Matchup6"></div>
		<br>
		<div class="SpreadHome6"></div>
		<div class="SpreadAway6"></div>
		<div class="OverUnder6"></div>
		<div class="MoneyLineHome6"></div>
		<div class="MoneyLineAway6"></div>
	</div>
		<br>
			<form method="post">
			<input type="text" name="BetAmount6"></input>
			<button>Submit</button>
		</form>
		<br>
		<br>
		
	<div class="Game7">
		<div class="Matchup7"></div>
		<br>
		<div class="SpreadHome7"></div>
		<div class="SpreadAway7"></div>
		<div class="OverUnder7"></div>
		<div class="MoneyLineHome7"></div>
		<div class="MoneyLineAway7"></div>
	</div>
		<br>
			<form method="post">
			<input type="text" name="BetAmount7"></input>
			<button>Submit</button>
		</form>
		<br>
		<br>
		
	<div class="Game8">
		<div class="Matchup8"></div>
		<br>
		<div class="SpreadHome8"></div>
		<div class="SpreadAway8"></div>
		<div class="OverUnder8"></div>
		<div class="MoneyLineHome8"></div>
		<div class="MoneyLineAway8"></div>
	</div>
		<br>
			<form method="post">
			<input type="text" name="BetAmount8"></input>
			<button>Submit</button>
		</form>
		<br>
		<br>
	
	<div class="Game9">
		<div class="Matchup9"></div>
		<br>
		<div class="SpreadHome9"></div>
		<div class="SpreadAway9"></div>
		<div class="OverUnder9"></div>
		<div class="MoneyLineHome9"></div>
		<div class="MoneyLineAway9"></div>
	</div>
		<br>
			<form method="post">
			<input type="text" name="BetAmount9"></input>
			<button>Submit</button>
		</form>
		<br>
		<br>
		<div class="Game10">
		<div class="Matchup10"></div>
		<br>
	
		<div class="SpreadHome10"></div>
		<div class="SpreadAway10"></div>
		<div class="OverUnder10"></div>
		<div class="MoneyLineHome10"></div>
		<div class="MoneyLineAway10"></div>
	</div>
	<br>
		<div>
		<form method="post">
			<input type="text" name="BetAmount10"></input>
			<button>Submit</button>
		</form>
	<br>
	<br>

	<div class="Game11">
		<div class="Matchup11"></div>
		<br>
		<div class="SpreadHome11"></div>
		<div class="SpreadAway11"></div>
		<div class="OverUnder11"></div>
		<div class="MoneyLineHome11"></div>
		<div class="MoneyLineAway11"></div>
	</div>
	<br>
		<form method="post">
			<input type="text" name="BetAmount11"></input>
			<button>Submit</button>
		</form>
	<br>
	<br>
		
	<div class="Game12">
		<div class="Matchup12"></div>
		<br>
			<div class="SpreadHome12"></div>
			<div class="SpreadAway12"></div>
			<div class="OverUnder12"></div>
			<div class="MoneyLineHome12"></div>
			<div class="MoneyLineAway12"></div>
		</div>
		<br>
			<form method="post">
			<input type="text" name="BetAmount12"></input>
			<button>Submit</button>
		</form>
		<br>
		<br>
		
	<div class="Game13">
		<div class="Matchup13"></div>
		<br>
		<div class="SpreadHome13"></div>
		<div class="SpreadAway13"></div>
		<div class="OverUnder13"></div>
		<div class="MoneyLineHome13"></div>
		<div class="MoneyLineAway13"></div>
	</div>
		<br>
			<form method="post">
			<input type="text" name="BetAmount13"></input>
			<button>Submit</button>
		</form>
		<br>
		<br>
		
	<div class="Game14">
		<div class="Matchup14"></div>
		<br>
		<div class="SpreadHome14"></div>
		<div class="SpreadAway14"></div>
		<div class="OverUnder14"></div>
		<div class="MoneyLineHome14"></div>
		<div class="MoneyLineAway14"></div>
	</div>
		<br>
			<form method="post">
			<input type="text" name="BetAmount14"></input>
			<button>Submit</button>
		</form>
		<br>
		<br>
		
	<div class="Game15">
		<div class="Matchup15"></div>
		<br>
		<div class="SpreadHome15"></div>
		<div class="SpreadAway15"></div>
		<div class="OverUnder15"></div>
		<div class="MoneyLineHome15"></div>
		<div class="MoneyLineAway15"></div>
	</div>
		<br>
			<form method="post">
			<input type="text" name="BetAmount15"></input>
			<button>Submit</button>
		</form>
		<br>
		<br>
		
	<div class="Game16">
		<div class="Matchup16"></div>
		<br>
		<div class="SpreadHome16"></div>
		<div class="SpreadAway16"></div>
		<div class="OverUnder16"></div>
		<div class="MoneyLineHome16"></div>
		<div class="MoneyLineAway16"></div>
	</div>
		<br>
			<form method="post">
			<input type="text" name="BetAmount16"></input>
			<button>Submit</button>
		</form>
		<br>
		<br>
		
	<div class="Game17">
		<div class="Matchup17"></div>
		<br>
		<div class="SpreadHome17"></div>
		<div class="SpreadAway17"></div>
		<div class="OverUnder17"></div>
		<div class="MoneyLineHome17"></div>
		<div class="MoneyLineAway17"></div>
	</div>
		<br>
			<form method="post">
			<input type="text" name="BetAmount17"></input>
			<button>Submit</button>
		</form>
		<br>
		<br>
		
	<div class="Game18">
		<div class="Matchup18"></div>
		<br>
		<div class="SpreadHome18"></div>
		<div class="SpreadAway18"></div>
		<div class="OverUnder18"></div>
		<div class="MoneyLineHome18"></div>
		<div class="MoneyLineAway18"></div>
	</div>
		<br>
			<form method="post">
			<input type="text" name="BetAmount18"></input>
			<button>Submit</button>
		</form>
		<br>
		<br>
	
	<div class="Game19">
		<div class="Matchup19"></div>
		<br>
		<div class="SpreadHome19"></div>
		<div class="SpreadAway19"></div>
		<div class="OverUnder19"></div>
		<div class="MoneyLineHome19"></div>
		<div class="MoneyLineAway19"></div>
	</div>
		<br>
			<form method="post">
			<input type="text" name="BetAmount19"></input>
			<button>Submit</button>
		</form>
		<br>
		<br>
	<div class="Game20">
		<div class="Matchup20"></div>
		<br>
	
		<div class="SpreadHome20"></div>
		<div class="SpreadAway20"></div>
		<div class="OverUnder20"></div>
		<div class="MoneyLineHome20"></div>
		<div class="MoneyLineAway20"></div>
	</div>
	<br>
		<div>
		<form method="post">
			<input type="text" name="BetAmount20"></input>
			<button>Submit</button>
		</form>
	<br>
	<br>

	<div class="Game21">
		<div class="Matchup21"></div>
		<br>
		<div class="SpreadHome21"></div>
		<div class="SpreadAway21"></div>
		<div class="OverUnder21"></div>
		<div class="MoneyLineHome21"></div>
		<div class="MoneyLineAway21"></div>
	</div>
	<br>
		<form method="post">
			<input type="text" name="BetAmount21"></input>
			<button>Submit</button>
		</form>
	<br>
	<br>
		
	<div class="Game22">
		<div class="Matchup22"></div>
		<br>
			<div class="SpreadHome22"></div>
			<div class="SpreadAway22"></div>
			<div class="OverUnder22"></div>
			<div class="MoneyLineHome22"></div>
			<div class="MoneyLineAway22"></div>
		</div>
		<br>
			<form method="post">
			<input type="text" name="BetAmount22"></input>
			<button>Submit</button>
		</form>
		<br>
		<br>
		
	<div class="Game23">
		<div class="Matchup23"></div>
		<br>
		<div class="SpreadHome23"></div>
		<div class="SpreadAway23"></div>
		<div class="OverUnder23"></div>
		<div class="MoneyLineHome23"></div>
		<div class="MoneyLineAway23"></div>
	</div>
		<br>
			<form method="post">
			<input type="text" name="BetAmount23"></input>
			<button>Submit</button>
		</form>
		<br>
		<br>
		
	<div class="Game24">
		<div class="Matchup24"></div>
		<br>
		<div class="SpreadHome24"></div>
		<div class="SpreadAway24"></div>
		<div class="OverUnder24"></div>
		<div class="MoneyLineHome24"></div>
		<div class="MoneyLineAway24"></div>
	</div>
		<br>
			<form method="post">
			<input type="text" name="BetAmount24"></input>
			<button>Submit</button>
		</form>
		<br>
		<br>
		
	<div class="Game5">
		<div class="Matchup25"></div>
		<br>
		<div class="SpreadHome25"></div>
		<div class="SpreadAway25"></div>
		<div class="OverUnder25"></div>
		<div class="MoneyLineHome25"></div>
		<div class="MoneyLineAway25"></div>
	</div>
		<br>
			<form method="post">
			<input type="text" name="BetAmount25"></input>
			<button>Submit</button>
		</form>
		<br>
		<br>
		
	<div class="Game26">
		<div class="Matchup26"></div>
		<br>
		<div class="SpreadHome26"></div>
		<div class="SpreadAway26"></div>
		<div class="OverUnder26"></div>
		<div class="MoneyLineHome26"></div>
		<div class="MoneyLineAway26"></div>
	</div>
		<br>
			<form method="post">
			<input type="text" name="BetAmount26"></input>
			<button>Submit</button>
		</form>
		<br>
		<br>
		
	<div class="Game27">
		<div class="Matchup27"></div>
		<br>
		<div class="SpreadHome27"></div>
		<div class="SpreadAway27"></div>
		<div class="OverUnder27"></div>
		<div class="MoneyLineHome27"></div>
		<div class="MoneyLineAway27"></div>
	</div>
		<br>
			<form method="post">
			<input type="text" name="BetAmount27"></input>
			<button>Submit</button>
		</form>
		<br>
		<br>
		
	<div class="Game28">
		<div class="Matchup28"></div>
		<br>
		<div class="SpreadHome28"></div>
		<div class="SpreadAway28"></div>
		<div class="OverUnder28"></div>
		<div class="MoneyLineHome28"></div>
		<div class="MoneyLineAway28"></div>
	</div>
		<br>
			<form method="post">
			<input type="text" name="BetAmount28"></input>
			<button>Submit</button>
		</form>
		<br>
		<br>
	
	<div class="Game29">
		<div class="Matchup29"></div>
		<br>
		<div class="SpreadHome29"></div>
		<div class="SpreadAway29"></div>
		<div class="OverUnder29"></div>
		<div class="MoneyLineHome29"></div>
		<div class="MoneyLineAway29"></div>
	</div>
		<br>
			<form method="post">
			<input type="text" name="BetAmount29"></input>
			<button>Submit</button>
		</form>
		<br>
		<br>
		<div class="Game30">
		<div class="Matchup30"></div>
		<br>
	
		<div class="SpreadHome30"></div>
		<div class="SpreadAway30"></div>
		<div class="OverUnder30"></div>
		<div class="MoneyLineHome30"></div>
		<div class="MoneyLineAway30"></div>
	</div>
	<br>
		<div>
		<form method="post">
			<input type="text" name="BetAmount30"></input>
			<button>Submit</button>
		</form>
	<br>
	<br>

	<div class="Game41">
		<div class="Matchup41"></div>
		<br>
		<div class="SpreadHome41"></div>
		<div class="SpreadAway41"></div>
		<div class="OverUnder41"></div>
		<div class="MoneyLineHome41"></div>
		<div class="MoneyLineAway41"></div>
	</div>
	<br>
		<form method="post">
			<input type="text" name="BetAmount41"></input>
			<button>Submit</button>
		</form>
	<br>
	<br>
		
	<div class="Game32">
		<div class="Matchup32"></div>
		<br>
			<div class="SpreadHome32"></div>
			<div class="SpreadAway32"></div>
			<div class="OverUnder32"></div>
			<div class="MoneyLineHome32"></div>
			<div class="MoneyLineAway32"></div>
		</div>
		<br>
			<form method="post">
			<input type="text" name="BetAmount32"></input>
			<button>Submit</button>
		</form>
		<br>
		<br>
		
	<div class="Game33">
		<div class="Matchup33"></div>
		<br>
		<div class="SpreadHome33"></div>
		<div class="SpreadAway33"></div>
		<div class="OverUnder33"></div>
		<div class="MoneyLineHome33"></div>
		<div class="MoneyLineAway33"></div>
	</div>
		<br>
			<form method="post">
			<input type="text" name="BetAmount33"></input>
			<button>Submit</button>
		</form>
		<br>
		<br>
		
	<div class="Game34">
		<div class="Matchup34"></div>
		<br>
		<div class="SpreadHome34"></div>
		<div class="SpreadAway34"></div>
		<div class="OverUnder34"></div>
		<div class="MoneyLineHome34"></div>
		<div class="MoneyLineAway34"></div>
	</div>
		<br>
			<form method="post">
			<input type="text" name="BetAmount34"></input>
			<button>Submit</button>
		</form>
		<br>
		<br>
		
	<div class="Game35">
		<div class="Matchup35"></div>
		<br>
		<div class="SpreadHome35"></div>
		<div class="SpreadAway35"></div>
		<div class="OverUnder35"></div>
		<div class="MoneyLineHome35"></div>
		<div class="MoneyLineAway35"></div>
	</div>
		<br>
			<form method="post">
			<input type="text" name="BetAmount35"></input>
			<button>Submit</button>
		</form>
		<br>
		<br>
		
	<div class="Game36">
		<div class="Matchup36"></div>
		<br>
		<div class="SpreadHome36"></div>
		<div class="SpreadAway36"></div>
		<div class="OverUnder36"></div>
		<div class="MoneyLineHome36"></div>
		<div class="MoneyLineAway36"></div>
	</div>
		<br>
			<form method="post">
			<input type="text" name="BetAmount36"></input>
			<button>Submit</button>
		</form>
		<br>
		<br>
		
	<div class="Game37">
		<div class="Matchup37"></div>
		<br>
		<div class="SpreadHome37"></div>
		<div class="SpreadAway37"></div>
		<div class="OverUnder37"></div>
		<div class="MoneyLineHome37"></div>
		<div class="MoneyLineAway37"></div>
	</div>
		<br>
			<form method="post">
			<input type="text" name="BetAmount37"></input>
			<button>Submit</button>
		</form>
		<br>
		<br>
		
	<div class="Game38">
		<div class="Matchup38"></div>
		<br>
		<div class="SpreadHome38"></div>
		<div class="SpreadAway38"></div>
		<div class="OverUnder38"></div>
		<div class="MoneyLineHome38"></div>
		<div class="MoneyLineAway38"></div>
	</div>
		<br>
			<form method="post">
			<input type="text" name="BetAmount38"></input>
			<button>Submit</button>
		</form>
		<br>
		<br>
	
	<div class="Game39">
		<div class="Matchup39"></div>
		<br>
		<div class="SpreadHome39"></div>
		<div class="SpreadAway39"></div>
		<div class="OverUnder39"></div>
		<div class="MoneyLineHome39"></div>
		<div class="MoneyLineAway39"></div>
	</div>
		<br>
			<form method="post">
			<input type="text" name="BetAmount39"></input>
			<button>Submit</button>
		</form>
		<br>
		<br>
		<div class="Game40">
		<div class="Matchup40"></div>
		<br>
	
		<div class="SpreadHome40"></div>
		<div class="SpreadAway40"></div>
		<div class="OverUnder40"></div>
		<div class="MoneyLineHome40"></div>
		<div class="MoneyLineAway40"></div>
	</div>
	<br>
		<div>
		<form method="post">
			<input type="text" name="BetAmount40"></input>
			<button>Submit</button>
		</form>
	<br>
	<br>

	<div class="Game41">
		<div class="Matchup41"></div>
		<br>
		<div class="SpreadHome41"></div>
		<div class="SpreadAway41"></div>
		<div class="OverUnder41"></div>
		<div class="MoneyLineHome41"></div>
		<div class="MoneyLineAway41"></div>
	</div>
	<br>
		<form method="post">
			<input type="text" name="BetAmount41"></input>
			<button>Submit</button>
		</form>
	<br>
	<br>
		
	<div class="Game42">
		<div class="Matchup42"></div>
		<br>
			<div class="SpreadHome42"></div>
			<div class="SpreadAway42"></div>
			<div class="OverUnder42"></div>
			<div class="MoneyLineHome42"></div>
			<div class="MoneyLineAway42"></div>
		</div>
		<br>
			<form method="post">
			<input type="text" name="BetAmount42"></input>
			<button>Submit</button>
		</form>
		<br>
		<br>
		
	<div class="Game43">
		<div class="Matchup43"></div>
		<br>
		<div class="SpreadHome43"></div>
		<div class="SpreadAway43"></div>
		<div class="OverUnder43"></div>
		<div class="MoneyLineHome43"></div>
		<div class="MoneyLineAway43"></div>
	</div>
		<br>
			<form method="post">
			<input type="text" name="BetAmount43"></input>
			<button>Submit</button>
		</form>
		<br>
		<br>
		
	<div class="Game44">
		<div class="Matchup44"></div>
		<br>
		<div class="SpreadHome44"></div>
		<div class="SpreadAway44"></div>
		<div class="OverUnder44"></div>
		<div class="MoneyLineHome44"></div>
		<div class="MoneyLineAway44"></div>
	</div>
		<br>
			<form method="post">
			<input type="text" name="BetAmount44"></input>
			<button>Submit</button>
		</form>
		<br>
		<br>
		
	<div class="Game45">
		<div class="Matchup45"></div>
		<br>
		<div class="SpreadHome45"></div>
		<div class="SpreadAway45"></div>
		<div class="OverUnder45"></div>
		<div class="MoneyLineHome45"></div>
		<div class="MoneyLineAway45"></div>
	</div>
		<br>
			<form method="post">
			<input type="text" name="BetAmount45"></input>
			<button>Submit</button>
		</form>
		<br>
		<br>
		
	<div class="Game46">
		<div class="Matchup46"></div>
		<br>
		<div class="SpreadHome46"></div>
		<div class="SpreadAway46"></div>
		<div class="OverUnder46"></div>
		<div class="MoneyLineHome46"></div>
		<div class="MoneyLineAway46"></div>
	</div>
		<br>
			<form method="post">
			<input type="text" name="BetAmount46"></input>
			<button>Submit</button>
		</form>
		<br>
		<br>
		
	<div class="Game47">
		<div class="Matchup47"></div>
		<br>
		<div class="SpreadHome47"></div>
		<div class="SpreadAway47"></div>
		<div class="OverUnder47"></div>
		<div class="MoneyLineHome47"></div>
		<div class="MoneyLineAway47"></div>
	</div>
		<br>
			<form method="post">
			<input type="text" name="BetAmount47"></input>
			<button>Submit</button>
		</form>
		<br>
		<br>
		
	<div class="Game48">
		<div class="Matchup48"></div>
		<br>
		<div class="SpreadHome48"></div>
		<div class="SpreadAway48"></div>
		<div class="OverUnder48"></div>
		<div class="MoneyLineHome48"></div>
		<div class="MoneyLineAway48"></div>
	</div>
		<br>
			<form method="post">
			<input type="text" name="BetAmount48"></input>
			<button>Submit</button>
		</form>
		<br>
		<br>
	
	<div class="Game49">
		<div class="Matchup49"></div>
		<br>
		<div class="SpreadHome49"></div>
		<div class="SpreadAway49"></div>
		<div class="OverUnder49"></div>
		<div class="MoneyLineHome49"></div>
		<div class="MoneyLineAway49"></div>
	</div>
		<br>
			<form method="post">
			<input type="text" name="BetAmount49"></input>
			<button>Submit</button>
		</form>
		<br>
		<br> --}}
		
		
		<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		<script src="javascripts/CollegeFootball.js"></script>
	
		
{{!-- </div> --}}









	