
<link rel="stylesheet" type="text/css" href="stylesheets/contact.css">

{{> navbar}}



<div class="contact">

<h1>Contact</h1>

<br>
<br>
<br>
<br>
<br>
<br>




<div>

	<a href="http://www.github.com/andrewlastrapes"><h2>Github</h2></a>

	</div>

	
<div>
	<a href="https://www.linkedin.com/in/andrew-lastrapes/"><h2>Linkedin</h2></a>

	</div>