

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="stylesheets/home.css">
<link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	
<div class="image"> 
	<div id="text-carousel" class="carousel slide" data-ride="carousel">
		<div class="row">
			<div class="col-xs-offset-3 col-xs-6">
				<div class="carousel-inner">
					<div class="item active">
						<div class="carousel-content">
							<div>
								<h1>Play Poker</h1>
									</div>
								</div>
							</div>

							<div class="item">
								<div class="carousel-content">
									</div>
								<h1>Check Odds</h1>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="carousel-content">
									</div>
								</div>
							</div>
						</div>
					</div>
	<div class="container bar">
		<div class="row">
			<div class="col-xs-3">
				<h4><a href="register">
					<h4>Register</h4>
						</a></h4>
				</div>
			<div class="col-xs-3">
				<h4><a href="login">
					<h4>Login</h4>
						</a></h4>
				</div>
			
			<div class="col-xs-3">
				<h4><a href="About">
					<h4>About<h4>
					</a></h4>
				</div>
			<div class="col-xs-3">
				<h4><a href="Contact">
					<h4>Contact</h4>
					</a></h4>
				</div>
		</div>
	</div>
				
