


<link rel="stylesheet" type="text/css" href="stylesheets/home.css">
<link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">

	
<div class="image"> 
	<h1>Play Poker</h1>
	 </div>
