
<link rel="stylesheet" type="text/css" href="stylesheets/login.css">

{{> navbar}}

<div class="page">
  <div class="container box">
    <h1>Login</h1>
    <form method="post" action="/login">
      <div class="form-group">
        <label for="username">Username:</label>
        <input type="username" class="form-control" id="username" name="username"> 
      </div>
      <div class="form-group">
        <label for="pwd">Password:</label>
        <input type="password" class="form-control" id="pwd" name="password">
      </div>
      <div class="checkbox">
        <label><input type="checkbox"> Remember me</label>
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
    </div>
  </div>

