

<link rel="stylesheet" type="text/css" href="stylesheets/NFLlines.css">


<div class="Header">
	<h1>NFL</h1>
</div>
<br>
<br>

<div class="Games"></div>


{{!-- <div class="Games">
	<div class="Game0">
		<div class="Matchup0"></div>
		<br>
	
		<div class="SpreadHome0"></div>
		<div class="SpreadAway0"></div>
		<div class="OverUnder0"></div>
		<div class="MoneyLineHome0"></div>
		<div class="MoneyLineAway0"></div>
	</div>
	<br>
		<div>
		<form method="post">
			<input type="text" name="BetAmount0"></input>
			<button>Submit</button>
		</form>
	<br>
	<br>

	<div class="Game1">
		<div class="Matchup1"></div>
		<br>
		<div class="SpreadHome1"></div>
		<div class="SpreadAway1"></div>
		<div class="OverUnder1"></div>
		<div class="MoneyLineHome1"></div>
		<div class="MoneyLineAway1"></div>
	</div>
	<br>
		<form method="post">
			<input type="text" name="BetAmount1"></input>
			<button>Submit</button>
		</form>
	<br>
	<br>
		
	<div class="Game2">
		<div class="Matchup2"></div>
		<br>
			<div class="SpreadHome2"></div>
			<div class="SpreadAway2"></div>
			<div class="OverUnder2"></div>
			<div class="MoneyLineHome2"></div>
			<div class="MoneyLineAway2"></div>
		</div>
		<br>
			<form method="post">
			<input type="text" name="BetAmount2"></input>
			<button>Submit</button>
		</form>
		<br>
		<br>
		
	<div class="Game3">
		<div class="Matchup3"></div>
		<br>
		<div class="SpreadHome3"></div>
		<div class="SpreadAway3"></div>
		<div class="OverUnder3"></div>
		<div class="MoneyLineHome3"></div>
		<div class="MoneyLineAway3"></div>
	</div>
		<br>
			<form method="post">
			<input type="text" name="BetAmount3"></input>
			<button>Submit</button>
		</form>
		<br>
		<br>
		
	<div class="Game4">
		<div class="Matchup4"></div>
		<br>
		<div class="SpreadHome4"></div>
		<div class="SpreadAway4"></div>
		<div class="OverUnder4"></div>
		<div class="MoneyLineHome4"></div>
		<div class="MoneyLineAway4"></div>
	</div>
		<br>
			<form method="post">
			<input type="text" name="BetAmount4"></input>
			<button>Submit</button>
		</form>
		<br>
		<br>
		
	<div class="Game5">
		<div class="Matchup5"></div>
		<br>
		<div class="SpreadHome5"></div>
		<div class="SpreadAway5"></div>
		<div class="OverUnder5"></div>
		<div class="MoneyLineHome5"></div>
		<div class="MoneyLineAway5"></div>
	</div>
		<br>
			<form method="post">
			<input type="text" name="BetAmount5"></input>
			<button>Submit</button>
		</form>
		<br>
		<br>
		
	<div class="Game6">
		<div class="Matchup6"></div>
		<br>
		<div class="SpreadHome6"></div>
		<div class="SpreadAway6"></div>
		<div class="OverUnder6"></div>
		<div class="MoneyLineHome6"></div>
		<div class="MoneyLineAway6"></div>
	</div>
		<br>
			<form method="post">
			<input type="text" name="BetAmount6"></input>
			<button>Submit</button>
		</form>
		<br>
		<br>
		
	<div class="Game7">
		<div class="Matchup7"></div>
		<br>
		<div class="SpreadHome7"></div>
		<div class="SpreadAway7"></div>
		<div class="OverUnder7"></div>
		<div class="MoneyLineHome7"></div>
		<div class="MoneyLineAway7"></div>
	</div>
		<br>
			<form method="post">
			<input type="text" name="BetAmount7"></input>
			<button>Submit</button>
		</form>
		<br>
		<br>
		
	<div class="Game8">
		<div class="Matchup8"></div>
		<br>
		<div class="SpreadHome8"></div>
		<div class="SpreadAway8"></div>
		<div class="OverUnder8"></div>
		<div class="MoneyLineHome8"></div>
		<div class="MoneyLineAway8"></div>
	</div>
		<br>
			<form method="post">
			<input type="text" name="BetAmount8"></input>
			<button>Submit</button>
		</form>
		<br>
		<br>
	
	<div class="Game9">
		<div class="Matchup9"></div>
		<br>
		<div class="SpreadHome9"></div>
		<div class="SpreadAway9"></div>
		<div class="OverUnder9"></div>
		<div class="MoneyLineHome9"></div>
		<div class="MoneyLineAway9"></div>
	</div>
		<br>
			<form method="post">
			<input type="text" name="BetAmount0"></input>
			<button>Submit</button>
		</form>
		<br>
		<br> --}}
		<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		<script src="javascripts/NFL.js"></script>
	
		
{{!-- </div> --}}
