

<link rel="stylesheet" type="text/css" href="stylesheets/NFLlines.css">
<link href="https://fonts.googleapis.com/css?family=Graduate" rel="stylesheet">

<div class="nav">
{{> navbar}}
	</div>


<div class="Header">

	<h1>NFL</h1>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


<div class="Games"></div>



		<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		<script src="javascripts/NFL.js"></script>
	
		

