
<div>
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        
        <li><a href="texasholdem">NFL</a></li>
        <li><a href="sportslines">College Football</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->


<div>

</div>

<div class="lines"></div>



