


<link rel="stylesheet" type="text/css" href="stylesheets/sportslines.css">

{{> navbar3}}


	<div class="container main">
	  <div class="row">
		<div class="col-xs-6">
			<a href="NFLlines">
				<img src="images/NFL.jpg">
					</a>
				</div>
		<div class="col-xs-6">
			<a href="NBAlines">
				<img src="images/NBA.jpg">
					</a>
				</div>
			</div>
	   
		</div>
		<div class="container second">
			<div class="row">
				<div class="col-xs-6">
					<a href="CollegeFootballLines">
						<img src="images/NCAA.jpg">
							</a>
						</div>
				<div class="col-xs-6">
					<h3>Select a league</h3>
				</div>
			</div>
		</div>
					


  








