


<link rel="stylesheet" type="text/css" href="stylesheets/sportslines.css">

<div class="main">
	<div class="container">
	  <div class="row">
		<div class="col-xs-4">
			<a href="NFLlines">
				<img src="images/NFL.jpg" height="450" width="350">
					</a>
				</div>
		<div class="col-xs-4">
			<a href="CollegeFootballLines">
				<img src="images/NCAA.jpg" height="450" width="350">
					</a>
				</div>
		<div class="col-xs-4">
			<a href="NBAlines">
				<img src="images/NBA.jpg" height="450" width="350">
					</a>
				</div>
			</div>
	    </div>
</div>

  








