


<link rel="stylesheet" type="text/css" href="stylesheets/sportslines.css">

{{> navbar}}


	<div class="container main">
	  <div class="row">
		<div class="col-xs-6">
			<a href="NFLlines">
				<img src="images/NFL.jpg" height="350" width="350">
					</a>
				</div>
		<div class="col-xs-6">
			<a href="NBAlines">
				<img src="images/NBA.jpg" height="350" width="350">
					</a>
				</div>
			</div>
	   
		</div>
		<div class="container second">
			<div class="row">
				<div class="col-xs-6">
					<a href="CollegeFootballLines">
						<img src="images/NCAA.jpg" height="250" width="350">
							</a>
						</div>
				<div class="col-xs-6">
					<h3>Four scores and seven years ago, our forefathers akdsfklj klasdj fklja sdlfkj akjhf kljfg ksjfd kfghks dks gkjsdfh gks fgjsg ihg ph 3984 y g dsif</h3>
				</div>
			</div>
		</div>
					


  








