.Header {
	text-align: center;
	font-family: 'Graduate', cursive;
}


h1 {
	font-weight: 900;
	font-size: 45px;
	padding-top: 40px;
}



.Games {
	
	text-align: center;
	font-family: 'Graduate', cursive;
	font-size: 25px;

}