/*617 671  ---    */ 

@media screen and (max-width: 614px){

body, html {
	height: 100%;
	background-color: #DFF8EB;
	
}

h1 {
	
	padding-top: 130px;
	color: yellow;
	font-family: 'Quicksand', sans-serif;
	font-size: 7vw;
	font-weight: 900;

	text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}


h4{
	color: black;
	font-family: 'Quicksand', sans-serif;
	font-size: 3vw;
	font-weight: 900;
  text-decoration: none;


	text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);


}

h4:hover { 
    color: yellow;
    text-decoration: none;
   
}


h2{
	

	color: black;
	font-family: 'Quicksand', sans-serif;
	font-size: 30px;
	font-weight: 900;


	text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);


}

a {
	text-decoration: none;
}

.carousel-content {
   
    display:flex;
   

}

#text-carousel {
  width: 100%;
}

.bar {
	text-align: center;
	}


.image {
	background-image: url("../images/home.jpg");

	height: 300px;

	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

}


}

@media screen and (min-width: 615px) and (max-width: 2000px){

body, html {
	height: 100%;
	background-color: #DFF8EB;
	
}

.image {
	background-image: url("../images/home.jpg");

	height: 540px;

	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

}

h1 {
	
	padding-top: 130px;
	color: yellow;
	font-family: 'Quicksand', sans-serif;
	font-size: 7vw;
	font-weight: 900;

	text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}


h4{
	color: black;
	font-family: 'Quicksand', sans-serif;
	font-size: 3vw;
	font-weight: 900;
  text-decoration: none;


	text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);


}

h4:hover { 
    color: yellow;
    text-decoration: none;
   
   
}


h2{
	

	color: black;
	font-family: 'Quicksand', sans-serif;
	font-size: 30px;
	font-weight: 900;


	text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);


}

a {
	text-decoration: none;
}

.carousel-content {
   
    display:flex;
   

}

#text-carousel {
  width: 100%;
}

.bar {
	text-align: center;
	}
}

