body, html {
	height: 100%;
}

.page {
	
	height: 100%;
	background-color: #48483A;
	padding-top: 30px;
}


.box {


  background-color: #DFF8EB;
  padding: 4em 4em 2em;
  max-width: 400px;
  margin: 50px auto 0;
  box-shadow: 0 0 1em #222;
  border-radius: 2px;


}

h1 {
  color: #102542;

}

label {
  color: #102542;

}

@media screen and (max-width: 614px){ 

  body, html {
  height: 100%;
}

.page {
  
  height: 100%;
  background-color: #48483A;
  padding-top: 30px;
}


.box {


  background-color: #DFF8EB;
  max-width: 300px;
  margin: 50px auto 0;
  box-shadow: 0 0 1em #222;
  border-radius: 2px;


}

h1 {
  color: #102542;

}

label {
  color: #102542;

  }

}

