
html, body {
	height: auto;
	width: 100%;
	padding: 0px;
	margin: 0px;
	overflow-x: hidden; 
	background-color: #48483A;

}


.main {
	
	padding-top: 50px;
}

.second {
	padding-top: 50px;
	color: #DFF8EB;
}

h3 {
	color: black;
}

img {
	height: 35vw;
	width: 35vw;
}